# Prerequisites
*.d
*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod
*.mod.c
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Logs
*.log
*.log.*

# perf outputs
perf.data*

# ctags
tags
TAGS

# Linux kernel build artifacts
/linux-kernel/.tmp_vmlinux*
/linux-kernel/vmlinux*
/linux-kernel/System.map*
/linux-kernel/.config*
/linux-kernel/include/config/
/linux-kernel/include/generated/
/linux-kernel/arch/*/include/generated/
/linux-kernel/arch/*/boot/compressed/vmlinux.bin
/linux-kernel/arch/*/boot/bzImage
/linux-kernel/kernel/kheaders_data.tar.*

# Generated kernel configuration parser files
/linux-kernel/scripts/kconfig/zconf.*

# Automake build artifacts
*.Plo
*.Po
*.state

# PCU
/pcu/

/linux-kernel/arch/*/boot/compressed/vmlinux.bin*
/linux-kernel/arch/*/boot/vmlinux.bin
/lustre-sim-fifo/autom4te.cache/
